.root {
  width: 100%;
  display: grid;
  grid-template: 1fr / repeat(5, 1fr);
  justify-items: end;
  padding: 0 10vw;
  padding-top: 125px;
}

.button {
  height: 100%;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
